.strong {
    font-weight: 600;
}

.gray-text {
    color: #918E9B;
}

.cards-list {
    margin: 0 3em 3em; 
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    overflow-x: auto;
}

@media screen and (min-width: 1069px) {
    .cards-list {
      margin: 0 6em 3em;
    }
}